<%layout("/layouts/boilerplate")%>
<body>
<div class="row">
    <div class="col-8 offset-2">     
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
        
        <div>
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]"  type="text" class="form-control"
            required>

            <!-- success and failure text after filling the inpput -->
            <div class="valid-feedback">Title looks good</div>
        </div>

        

        <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control"
             required></textarea
               >
        </div>
        <div>
            <label for="image" class="form-label">Image</label>
            <input name="listing[image]" type="text"
            class="form-control">
        </div>
        <div>
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]"  class="form-control"
            required>
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div>
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" type="text"
             class="form-control"
             required>
            <div class="invalid-feedback">Country name  should be valid</div>
        </div>
        <div>
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" type="text"
            class="form-control"
            required>
            <div class="invalid-feedback">Location  should be valid</div>
            
        </div>
        <br>
        
        <button class="btn btn-dark add">Add</button>
      
    </form>
</body>
</div>

</div>
